.container{
    padding: 2px 96px;

    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: flex-start;

}

.left{
    width: 184px;
    height: 704px;
    background-color: rgb(106,185,254);
    border-radius: 10px;


    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;

}
.left .title{
    margin-top: 5px;
    padding: 5px 12px;
    font-size: x-large;
    color: white;
    font-weight: 500;
    letter-spacing:5px;
    align-items: center;
}

.left .online_people{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}

.online_people_text{
    font-size: medium;
    color: white;
    align-items: center;
}

.online_people_count{
    margin-left: 10px;
}

.left .show_time{
    margin-top: 10px;
    font-size: x-large;
    font-weight: 400;
    letter-spacing:3px;
    color: rgb(4,254,23);
}

.left .show_date{
    letter-spacing:3px;
    color: rgb(4,254,23);
    margin-bottom: 10px;
}

.left .function_setting{
    width: 170px;
    height: 45px;
    margin: 3px 3px 3px 3px;
    background-color: rgb(0,50,255);
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(1,1,1,0.5);
    font-size: medium;

    color: white;

    padding: 10px;


    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;

    cursor:pointer;

}

.left .today_choice{
    border-radius: 5px;
    width: 172px;
    height: 86px;
    margin: 3px 3px 3px 3px;
    background-color: rgb(0,50,255);
    font-size: medium;
    color: white;
    padding: 10px;

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;

}

.today_choice_item{
    width: 50%;
    height: 42px;

    cursor:pointer;
}

.warn_container{
    margin-top: 10px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: flex-start;
}

.warn_container .each_warn{
    background-color: white;
    width: 82px;
    border-radius: 5px;
    margin: 3px;

    text-align: center;
    max-height: 348px;
    overflow: auto;
}

.warn_title{
    color: rgb(0,50,255);
    font-size: 14px;
}

.warn_number{
    cursor:pointer;
}

/*   右侧 */

.infuse_container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;

    padding: 10px;
}

.infuse_item{
    width: 232px;
    height: 160px;
    background-color: rgb(0,18,212);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(1,1,1,0.5);

    margin: 5px 10px 10px 10px;
}
.infuse_header{
    height: 26px;
    background-color: rgb(2,20,196);

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items: flex-start;

}

.infuse_title{
    width: 85%;
    text-align: center;
    color: white;
}

.item_close{
    cursor:pointer;

    width: 14%;
    text-align: center;
    color: white;
    border-radius: 1px;
    border-color: rgb(6,20,173);
    background-color: rgb(3,18,198);
}

.infuse_body{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
}

.infuse_status_box{
    width: 228px;
    height: 49px;

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;

}

.infuse_bag img{
    width: 25px;
    height: 30px;
    margin-left: 20px;
}

.infuse_status_text{
    margin-left: 32px;
    width: 86px;
    height: 30px;
    background-color: rgb(189,255,43);

    font-size: medium;
    text-align: center;
    border-radius: 5px;

    color: rgb(10,174,47);

}

.user_profile{
    text-align: center;
    margin-left: 10px;
    width: 54px;
    height: 33px;
    letter-spacing:7px;
    font-size: 13px;
    border-radius: 5px;
    background-color: rgb(0,122,119);
}

.infuse_data_box{

    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:flex-start;


}

.data_li{

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;

}


.data_li_item{
    width: 76px;
    height: 30px;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 15px;
}


