<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>


    <link rel="stylesheet" href="__CDN__/assets/pc/css/common.css?v={$asset_version}">

    <link rel="stylesheet" href="__CDN__/assets/pc/css/index.css?v={$asset_version}">


    <script src="__CDN__/assets/pc/js/lib/jquery-3.3.1.min.js"></script>

</head>

<body>

    <div class="container">
        <div class="left">

            <div class="title">
                消化内科
            </div>
            <div class="online_people">
                <div class="online_people_text">
                    在院人数
                </div>
                <div class="online_people_count">
                    128
                </div>
            </div>
            <div class="show_time">
                12:02:02
            </div>
            <div class="show_date">
                2019-01-12
            </div>

            <div class="function_setting">
                <div>
                    功能设置
                </div>
            </div>
            <div class="function_setting">
                <div>
                    系统设置
                </div>
            </div>
            <div class="today_choice">
                <div class="today_choice_item">
                    今日入院
                </div>
                <div class="today_choice_item">
                    今日手术
                </div>
                <div class="today_choice_item">
                    今日出院
                </div>
                <div class="today_choice_item">
                    护理提醒
                </div>
            </div>

            <div class="warn_container">


                <div class="each_warn warn_box">
                    <div class="warn_title">
                        输液报警
                    </div>
                    <div class="warn_number first_warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                </div>

                <div class="each_warn call_box">
                    <div class="warn_title">
                        正在呼叫
                    </div>
                    <div class="warn_number first_warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                    <div class="warn_number">
                        201-2
                    </div>
                </div>
            </div>



        </div>

        <div class="right">
            <div class="infuse_container">
                <div class="infuse_item">
                    
                    <div class="infuse_header">
                        <div class="infuse_title">
                            2楼201-1床
                        </div>
                        <div class="item_close">
                            ×
                        </div>
                    </div>
                    
                    <div class="infuse_body">
                        <div class="infuse_status_box">
                            <div class="infuse_bag">
                                <img src="__CDN__/assets/pc/image/bag.png">
                            </div>

                            <div class="infuse_status_text">
                                正在输液
                            </div>

                            <div class="user_profile">
                                病人资料
                            </div>

                        </div>
                        
                        <div class="infuse_data_box">
                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    剩余
                                </div>
                                <div class="data_li_item data_li_value">
                                    212.13
                                </div>
                                <div class="data_li_item data_li_unit">
                                    g
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    滴数
                                </div>
                                <div class="data_li_item data_li_value">
                                    1.5
                                </div>
                                <div class="data_li_item data_li_unit">
                                    滴每秒
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    预计
                                </div>
                                <div class="data_li_item data_li_value">
                                    47
                                </div>
                                <div class="data_li_item data_li_unit">
                                    分钟后完成
                                </div>
                            </div>


                        </div>
                        
                    </div>
                </div>
                <div class="infuse_item">

                    <div class="infuse_header">
                        <div class="infuse_title">
                            2楼201-1床
                        </div>
                        <div class="item_close">
                            ×
                        </div>
                    </div>

                    <div class="infuse_body">
                        <div class="infuse_status_box">
                            <div class="infuse_bag">
                                <img src="__CDN__/assets/pc/image/bag.png">
                            </div>

                            <div class="infuse_status_text">
                                正在输液
                            </div>

                            <div class="user_profile">
                                病人资料
                            </div>

                        </div>

                        <div class="infuse_data_box">
                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    剩余
                                </div>
                                <div class="data_li_item data_li_value">
                                    212.13
                                </div>
                                <div class="data_li_item data_li_unit">
                                    g
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    滴数
                                </div>
                                <div class="data_li_item data_li_value">
                                    1.5
                                </div>
                                <div class="data_li_item data_li_unit">
                                    滴每秒
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    预计
                                </div>
                                <div class="data_li_item data_li_value">
                                    47
                                </div>
                                <div class="data_li_item data_li_unit">
                                    分钟后完成
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="infuse_item">

                    <div class="infuse_header">
                        <div class="infuse_title">
                            2楼201-1床
                        </div>
                        <div class="item_close">
                            ×
                        </div>
                    </div>

                    <div class="infuse_body">
                        <div class="infuse_status_box">
                            <div class="infuse_bag">
                                <img src="__CDN__/assets/pc/image/bag.png">
                            </div>

                            <div class="infuse_status_text">
                                正在输液
                            </div>

                            <div class="user_profile">
                                病人资料
                            </div>

                        </div>

                        <div class="infuse_data_box">
                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    剩余
                                </div>
                                <div class="data_li_item data_li_value">
                                    212.13
                                </div>
                                <div class="data_li_item data_li_unit">
                                    g
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    滴数
                                </div>
                                <div class="data_li_item data_li_value">
                                    1.5
                                </div>
                                <div class="data_li_item data_li_unit">
                                    滴每秒
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    预计
                                </div>
                                <div class="data_li_item data_li_value">
                                    47
                                </div>
                                <div class="data_li_item data_li_unit">
                                    分钟后完成
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="infuse_item">

                    <div class="infuse_header">
                        <div class="infuse_title">
                            2楼201-1床
                        </div>
                        <div class="item_close">
                            ×
                        </div>
                    </div>

                    <div class="infuse_body">
                        <div class="infuse_status_box">
                            <div class="infuse_bag">
                                <img src="__CDN__/assets/pc/image/bag.png">
                            </div>

                            <div class="infuse_status_text">
                                正在输液
                            </div>

                            <div class="user_profile">
                                病人资料
                            </div>

                        </div>

                        <div class="infuse_data_box">
                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    剩余
                                </div>
                                <div class="data_li_item data_li_value">
                                    212.13
                                </div>
                                <div class="data_li_item data_li_unit">
                                    g
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    滴数
                                </div>
                                <div class="data_li_item data_li_value">
                                    1.5
                                </div>
                                <div class="data_li_item data_li_unit">
                                    滴每秒
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    预计
                                </div>
                                <div class="data_li_item data_li_value">
                                    47
                                </div>
                                <div class="data_li_item data_li_unit">
                                    分钟后完成
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="infuse_item">

                    <div class="infuse_header">
                        <div class="infuse_title">
                            2楼201-1床
                        </div>
                        <div class="item_close">
                            ×
                        </div>
                    </div>

                    <div class="infuse_body">
                        <div class="infuse_status_box">
                            <div class="infuse_bag">
                                <img src="__CDN__/assets/pc/image/bag.png">
                            </div>

                            <div class="infuse_status_text">
                                正在输液
                            </div>

                            <div class="user_profile">
                                病人资料
                            </div>

                        </div>

                        <div class="infuse_data_box">
                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    剩余
                                </div>
                                <div class="data_li_item data_li_value">
                                    212.13
                                </div>
                                <div class="data_li_item data_li_unit">
                                    g
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    滴数
                                </div>
                                <div class="data_li_item data_li_value">
                                    1.5
                                </div>
                                <div class="data_li_item data_li_unit">
                                    滴每秒
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    预计
                                </div>
                                <div class="data_li_item data_li_value">
                                    47
                                </div>
                                <div class="data_li_item data_li_unit">
                                    分钟后完成
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="infuse_item">

                    <div class="infuse_header">
                        <div class="infuse_title">
                            2楼201-1床
                        </div>
                        <div class="item_close">
                            ×
                        </div>
                    </div>

                    <div class="infuse_body">
                        <div class="infuse_status_box">
                            <div class="infuse_bag">
                                <img src="__CDN__/assets/pc/image/bag.png">
                            </div>

                            <div class="infuse_status_text">
                                正在输液
                            </div>

                            <div class="user_profile">
                                病人资料
                            </div>

                        </div>

                        <div class="infuse_data_box">
                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    剩余
                                </div>
                                <div class="data_li_item data_li_value">
                                    212.13
                                </div>
                                <div class="data_li_item data_li_unit">
                                    g
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    滴数
                                </div>
                                <div class="data_li_item data_li_value">
                                    1.5
                                </div>
                                <div class="data_li_item data_li_unit">
                                    滴每秒
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    预计
                                </div>
                                <div class="data_li_item data_li_value">
                                    47
                                </div>
                                <div class="data_li_item data_li_unit">
                                    分钟后完成
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="infuse_item">

                    <div class="infuse_header">
                        <div class="infuse_title">
                            2楼201-1床
                        </div>
                        <div class="item_close">
                            ×
                        </div>
                    </div>

                    <div class="infuse_body">
                        <div class="infuse_status_box">
                            <div class="infuse_bag">
                                <img src="__CDN__/assets/pc/image/bag.png">
                            </div>

                            <div class="infuse_status_text">
                                正在输液
                            </div>

                            <div class="user_profile">
                                病人资料
                            </div>

                        </div>

                        <div class="infuse_data_box">
                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    剩余
                                </div>
                                <div class="data_li_item data_li_value">
                                    212.13
                                </div>
                                <div class="data_li_item data_li_unit">
                                    g
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    滴数
                                </div>
                                <div class="data_li_item data_li_value">
                                    1.5
                                </div>
                                <div class="data_li_item data_li_unit">
                                    滴每秒
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    预计
                                </div>
                                <div class="data_li_item data_li_value">
                                    47
                                </div>
                                <div class="data_li_item data_li_unit">
                                    分钟后完成
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="infuse_item">

                    <div class="infuse_header">
                        <div class="infuse_title">
                            2楼201-1床
                        </div>
                        <div class="item_close">
                            ×
                        </div>
                    </div>

                    <div class="infuse_body">
                        <div class="infuse_status_box">
                            <div class="infuse_bag">
                                <img src="__CDN__/assets/pc/image/bag.png">
                            </div>

                            <div class="infuse_status_text">
                                正在输液
                            </div>

                            <div class="user_profile">
                                病人资料
                            </div>

                        </div>

                        <div class="infuse_data_box">
                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    剩余
                                </div>
                                <div class="data_li_item data_li_value">
                                    212.13
                                </div>
                                <div class="data_li_item data_li_unit">
                                    g
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    滴数
                                </div>
                                <div class="data_li_item data_li_value">
                                    1.5
                                </div>
                                <div class="data_li_item data_li_unit">
                                    滴每秒
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    预计
                                </div>
                                <div class="data_li_item data_li_value">
                                    47
                                </div>
                                <div class="data_li_item data_li_unit">
                                    分钟后完成
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="infuse_item">

                    <div class="infuse_header">
                        <div class="infuse_title">
                            2楼201-1床
                        </div>
                        <div class="item_close">
                            ×
                        </div>
                    </div>

                    <div class="infuse_body">
                        <div class="infuse_status_box">
                            <div class="infuse_bag">
                                <img src="__CDN__/assets/pc/image/bag.png">
                            </div>

                            <div class="infuse_status_text">
                                正在输液
                            </div>

                            <div class="user_profile">
                                病人资料
                            </div>

                        </div>

                        <div class="infuse_data_box">
                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    剩余
                                </div>
                                <div class="data_li_item data_li_value">
                                    212.13
                                </div>
                                <div class="data_li_item data_li_unit">
                                    g
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    滴数
                                </div>
                                <div class="data_li_item data_li_value">
                                    1.5
                                </div>
                                <div class="data_li_item data_li_unit">
                                    滴每秒
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    预计
                                </div>
                                <div class="data_li_item data_li_value">
                                    47
                                </div>
                                <div class="data_li_item data_li_unit">
                                    分钟后完成
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="infuse_item">

                <div class="infuse_header">
                    <div class="infuse_title">
                        2楼201-1床
                    </div>
                    <div class="item_close">
                        ×
                    </div>
                </div>

                <div class="infuse_body">
                    <div class="infuse_status_box">
                        <div class="infuse_bag">
                            <img src="__CDN__/assets/pc/image/bag.png">
                        </div>

                        <div class="infuse_status_text">
                            正在输液
                        </div>

                        <div class="user_profile">
                            病人资料
                        </div>

                    </div>

                    <div class="infuse_data_box">
                        <div class="data_li">
                            <div class="data_li_item data_li_name">
                                剩余
                            </div>
                            <div class="data_li_item data_li_value">
                                212.13
                            </div>
                            <div class="data_li_item data_li_unit">
                                g
                            </div>
                        </div>

                        <div class="data_li">
                            <div class="data_li_item data_li_name">
                                滴数
                            </div>
                            <div class="data_li_item data_li_value">
                                1.5
                            </div>
                            <div class="data_li_item data_li_unit">
                                滴每秒
                            </div>
                        </div>

                        <div class="data_li">
                            <div class="data_li_item data_li_name">
                                预计
                            </div>
                            <div class="data_li_item data_li_value">
                                47
                            </div>
                            <div class="data_li_item data_li_unit">
                                分钟后完成
                            </div>
                        </div>


                    </div>

                </div>
            </div>
                <div class="infuse_item">

                    <div class="infuse_header">
                        <div class="infuse_title">
                            2楼201-1床
                        </div>
                        <div class="item_close">
                            ×
                        </div>
                    </div>

                    <div class="infuse_body">
                        <div class="infuse_status_box">
                            <div class="infuse_bag">
                                <img src="__CDN__/assets/pc/image/bag.png">
                            </div>

                            <div class="infuse_status_text">
                                正在输液
                            </div>

                            <div class="user_profile">
                                病人资料
                            </div>

                        </div>

                        <div class="infuse_data_box">
                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    剩余
                                </div>
                                <div class="data_li_item data_li_value">
                                    212.13
                                </div>
                                <div class="data_li_item data_li_unit">
                                    g
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    滴数
                                </div>
                                <div class="data_li_item data_li_value">
                                    1.5
                                </div>
                                <div class="data_li_item data_li_unit">
                                    滴每秒
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    预计
                                </div>
                                <div class="data_li_item data_li_value">
                                    47
                                </div>
                                <div class="data_li_item data_li_unit">
                                    分钟后完成
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="infuse_item">

                    <div class="infuse_header">
                        <div class="infuse_title">
                            2楼201-1床
                        </div>
                        <div class="item_close">
                            ×
                        </div>
                    </div>

                    <div class="infuse_body">
                        <div class="infuse_status_box">
                            <div class="infuse_bag">
                                <img src="__CDN__/assets/pc/image/bag.png">
                            </div>

                            <div class="infuse_status_text">
                                正在输液
                            </div>

                            <div class="user_profile">
                                病人资料
                            </div>

                        </div>

                        <div class="infuse_data_box">
                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    剩余
                                </div>
                                <div class="data_li_item data_li_value">
                                    212.13
                                </div>
                                <div class="data_li_item data_li_unit">
                                    g
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    滴数
                                </div>
                                <div class="data_li_item data_li_value">
                                    1.5
                                </div>
                                <div class="data_li_item data_li_unit">
                                    滴每秒
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    预计
                                </div>
                                <div class="data_li_item data_li_value">
                                    47
                                </div>
                                <div class="data_li_item data_li_unit">
                                    分钟后完成
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="infuse_item">

                    <div class="infuse_header">
                        <div class="infuse_title">
                            2楼201-1床
                        </div>
                        <div class="item_close">
                            ×
                        </div>
                    </div>

                    <div class="infuse_body">
                        <div class="infuse_status_box">
                            <div class="infuse_bag">
                                <img src="__CDN__/assets/pc/image/bag.png">
                            </div>

                            <div class="infuse_status_text">
                                正在输液
                            </div>

                            <div class="user_profile">
                                病人资料
                            </div>

                        </div>

                        <div class="infuse_data_box">
                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    剩余
                                </div>
                                <div class="data_li_item data_li_value">
                                    212.13
                                </div>
                                <div class="data_li_item data_li_unit">
                                    g
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    滴数
                                </div>
                                <div class="data_li_item data_li_value">
                                    1.5
                                </div>
                                <div class="data_li_item data_li_unit">
                                    滴每秒
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    预计
                                </div>
                                <div class="data_li_item data_li_value">
                                    47
                                </div>
                                <div class="data_li_item data_li_unit">
                                    分钟后完成
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="infuse_item">

                    <div class="infuse_header">
                        <div class="infuse_title">
                            2楼201-1床
                        </div>
                        <div class="item_close">
                            ×
                        </div>
                    </div>

                    <div class="infuse_body">
                        <div class="infuse_status_box">
                            <div class="infuse_bag">
                                <img src="__CDN__/assets/pc/image/bag.png">
                            </div>

                            <div class="infuse_status_text">
                                正在输液
                            </div>

                            <div class="user_profile">
                                病人资料
                            </div>

                        </div>

                        <div class="infuse_data_box">
                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    剩余
                                </div>
                                <div class="data_li_item data_li_value">
                                    212.13
                                </div>
                                <div class="data_li_item data_li_unit">
                                    g
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    滴数
                                </div>
                                <div class="data_li_item data_li_value">
                                    1.5
                                </div>
                                <div class="data_li_item data_li_unit">
                                    滴每秒
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    预计
                                </div>
                                <div class="data_li_item data_li_value">
                                    47
                                </div>
                                <div class="data_li_item data_li_unit">
                                    分钟后完成
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="infuse_item">

                    <div class="infuse_header">
                        <div class="infuse_title">
                            2楼201-1床
                        </div>
                        <div class="item_close">
                            ×
                        </div>
                    </div>

                    <div class="infuse_body">
                        <div class="infuse_status_box">
                            <div class="infuse_bag">
                                <img src="__CDN__/assets/pc/image/bag.png">
                            </div>

                            <div class="infuse_status_text">
                                正在输液
                            </div>

                            <div class="user_profile">
                                病人资料
                            </div>

                        </div>

                        <div class="infuse_data_box">
                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    剩余
                                </div>
                                <div class="data_li_item data_li_value">
                                    212.13
                                </div>
                                <div class="data_li_item data_li_unit">
                                    g
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    滴数
                                </div>
                                <div class="data_li_item data_li_value">
                                    1.5
                                </div>
                                <div class="data_li_item data_li_unit">
                                    滴每秒
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    预计
                                </div>
                                <div class="data_li_item data_li_value">
                                    47
                                </div>
                                <div class="data_li_item data_li_unit">
                                    分钟后完成
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="infuse_item">

                    <div class="infuse_header">
                        <div class="infuse_title">
                            2楼201-1床
                        </div>
                        <div class="item_close">
                            ×
                        </div>
                    </div>

                    <div class="infuse_body">
                        <div class="infuse_status_box">
                            <div class="infuse_bag">
                                <img src="__CDN__/assets/pc/image/bag.png">
                            </div>

                            <div class="infuse_status_text">
                                正在输液
                            </div>

                            <div class="user_profile">
                                病人资料
                            </div>

                        </div>

                        <div class="infuse_data_box">
                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    剩余
                                </div>
                                <div class="data_li_item data_li_value">
                                    212.13
                                </div>
                                <div class="data_li_item data_li_unit">
                                    g
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    滴数
                                </div>
                                <div class="data_li_item data_li_value">
                                    1.5
                                </div>
                                <div class="data_li_item data_li_unit">
                                    滴每秒
                                </div>
                            </div>

                            <div class="data_li">
                                <div class="data_li_item data_li_name">
                                    预计
                                </div>
                                <div class="data_li_item data_li_value">
                                    47
                                </div>
                                <div class="data_li_item data_li_unit">
                                    分钟后完成
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
             
            </div>
        </div>
    </div>


</body>
</html>